body {
  background-color: hsl(212, 45%, 89%);
}

@media (min-width: 375px) {
}
#Qr-information {
  background-color: hsl(0, 0%, 100%);
  max-width: 220px;
  border-radius: 8px;
}
p {
  font-family: "Outfit", sans-serif;
  padding: 4px;
}
#title {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
}

#call-to-action {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 34px;
}
#Qr {
  width: 200px;
  margin-top: 10px;
}
